body {
    display: block;
    overflow: auto;
    width: 100%;
    height: 100%;
}
.nav-link{
  color:#fff;
}
.g-margin{
  margin: 2em;
}
h4{
  color: white;
}
h4:hover{
  color:#736A6A;
}
  .title{
    color: #fff;
  }
  .base-color{
    background-color: #111379;
  }
  .middle-color{
    background-color: #93BCE3;
  }
  .soft-color{
    color: #C4C4C4;
  }
  .fit-div{
    width: 80%;
  }
  .logo-body{
    padding: 16px;
  }
  .logo-name{
    font-family: Comfortaa;
    
  }
  .view-color{
   background-color: #93BCE3;
   color: #fff;
   padding: 8px;
    
  }
  .view-color-b{
   background-color: #93BCE3;
   color: #fff;
   padding: 8px;
    
  }
  .div-main{
    padding-left: 10%;
    padding-right:10%;
    
    
  }
  .div-form{
    background-image: url(../img/background.png);
    height: 500px;
    background-color: white;
    margin-bottom: 16px;
  }
  .div-login{
    margin-top: 10%;
    margin-left: 10%;
    width: 50%;
    margin-bottom: 10%;
  }


 