
<!-- Modal -->
<div class="modal fade" id="moda_empty_documents" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
    <div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" >Registros Asociados</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    
    <div class="modal-body">
        <div class="d-flex flex-column">
            <div class="p-2">
                <div class="text-center">No hay registros asociados</div>
            </div>
            <div class="p-2">
                <div class="text-center">
                    <img src="../../img/empty.svg" alt=""  class="img-fluid" alt="Responsive image" width="84" height="84">
                </div>
            </div>
        </div>
        
    </div>
    <div class="modal-footer">
        <button type="button btn-primary" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
    </div>
    </div>
</div>
</div>