<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Solicitar Permiso de Acceso</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-row align-items-center">
                
            </div>
            <div class="form-group col-6">
                <label for="InputDNI">DNI</label>
                <input type="text" class="form-control" id="inputDniModal" aria-describedby="dnihelp" placeholder="DNI a buscar" maxlength="8">
                <!--<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
            </div>
            <div class="form-group col-6">
                <label for="InputDNI">Paciente</label>
                <input class="form-control" type="text" placeholder="Datos de usuario..." readonly id="inputUserModal">
                <span class="spinner-border spinner-border-sm" role="status" hidden="true" id="userLoaderModal" ></span>
              </div>
            <div class="form-group">
                <p>xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Send message</button>
        </div>
      </div>
    </div>
  </div>