
<!-- Modal -->
<div class="modal fade" id="registersModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Registros Asociados</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <table class="table table-bordered"  id="t-modal-documents">
            <thead>
              <tr>
                <th scope="col">N°</th>
                <th scope="col">Documento</th>
                <th scope="col">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <!--<tr>
                <th scope="row">1</th>
                <td>Reserva de Cita Médica</td>
                <td>
                    <a href="http://www.africau.edu/images/default/sample.pdf" type="button" class="btn btn-primary" target="_blank"><i class="far fa-eye"></i></a>
                </td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Confirmación de Cita Médica</td>
                <td>
                    <a href="http://www.africau.edu/images/default/sample.pdf" type="button" class="btn btn-primary" target="_blank"><i class="far fa-eye"></i></a>
                </td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Receta Registrada - Julio Perez </td>
                <td>
                    <a href="http://www.africau.edu/images/default/sample.pdf" type="button" class="btn btn-primary" target="_blank"><i class="far fa-eye"></i></a>
                </td>
              </tr>-->
            </tbody>
          </table>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
    </div>
    </div>
</div>
</div>